body{
    margin: 0;
    background-color: white;
    font-family: SoDoSans_Semibold, Helvetica, sans-serif;
    padding-top: 72px;
}
.header{
    position: fixed;
    left: 0;
    top: 0;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 50px;
    border-bottom: 1px solid rgb(233, 230, 230);
    box-shadow: 0 4px 6px rgba(170, 170, 170, 0.1);
    background-color: white;
    z-index: 900;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    margin-right: 15px;
}
.logo-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.navigation-list{
    display: flex;
    justify-content: space-between;
    margin-right: 307.833px;
}
.navigation-list-items{
    padding: 18px 18px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 15px;
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    font-weight: 200;
    opacity: 0.8;
    cursor: pointer;    
}
.home{
    display: inline;
    padding: 18px 18px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 15px;
    color:rgb(0, 117, 74);
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1.46789px solid rgb(0, 117, 74);
}
.navigation-list-items:hover{
    color: rgb(0, 117, 74);
}
.search{
    display: flex;
    justify-content: flex-start;
    width: 327px;
    margin-left: 0;
    text-align: left;
}

.search-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 100px;
    padding: 2px 48px;
    width: 170.99px;
    height: 35.99px;
   background-color: rgb(255, 255, 255);
   border-bottom-color:  rgb(33, 37, 41);
   border: 0px solid rgb(33, 37, 41);
   border-radius: 20px;
   box-shadow: 
         2px 0 2px 0.1px rgba(215, 211, 211, 0.5),  
        -2px 0 2px 0.1px rgba(215, 211, 211, 0.5),
         0 2px 2px 0.1px rgba(215, 211, 211, 0.5),  
         0 -2px 2px 0.1px rgba(215, 211, 211, 0.5);
  text-align: left;
}
.search-bar{
    border: none;
    padding-left: 10px;
    width: 168.99px;
    height: 20px;
    text-align: left;
}
.search-bar::placeholder{
    font-size: 10px;
    letter-spacing: 0.3px;
    color: black;
    opacity: 0.5;
    text-align: left;
}
.search-icon{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: -33px;
    cursor: pointer;
}
.account{
    margin-left: 15px;
}
.account-icon{
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.card{
    display: flex;
    height: 80px;
    background-color: rgb(30, 57, 50);
    cursor: pointer;
}
.card-body{
    display: flex;
    width: 1320px;
    height: 78.53px;
    margin: 0px 64px;
}
.starbucks-card{
    display: flex;
    margin-top: 22px;
}
.starbucks-text{
    width: 824px;
    color:rgb(249, 249, 249);
    font-size: 20px;
    font-weight: lighter;
    font-family: SoDoSans_Light,Helvetica,sans-serif;
    word-spacing: -0.1px;
}
.card-btn{
    display: flex;
    width: 424px;
    height: 32px;
    justify-content: end;
    align-items: center;
    margin-top: 22px;
}
.know-more-btn{
    color: white;
    font-weight: 600;
    background-color: rgb(30, 57, 50);
    border-radius: 30px;
    border: 1px solid white;
    padding: 8px 13px;
    cursor: pointer;
}
.ads{
    height: 275px;
    margin-top: 17px;
    padding: 20px 72px;
}
.ads-container{
    display: flex;
    position: relative;
    height: 231px;
    background-image: url(images/Web_Banner_Background_Image_1_49caed5892.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 11px;
    cursor: pointer;
    border: 1px solid rgb(187, 185, 185);
    box-shadow: 0 4px 4px rgba(46, 44, 44, 0.1)
}
.ads-container-div{
    margin-top:23px;
}
.ads-container-img{
    width: 100px;
    height: 208px;
}
.ads-container-text-div{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-left: 48px;
}
.ads-container-text{
    font-size: 15px;
    word-spacing: -0.1px;
    font-weight: 400;
    color: #000000de;
    height: 42px;
}
.function-text{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold
}
.ads-container-text p{
    margin-top: 28px;
}
.order-now-btn{
    margin-left: 350px;
    margin-top: 155px;
    width: 200px;
   height: 48.9px;
    background-color: rgb(0, 117, 74);
    border-radius: 30px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.arrow-forward{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 50%;   
    right: -21px;
    margin-top: -120px;

}
.arrow-forward img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 4px;  
}
.arrow-back{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 50%;  
    left: -23px;
    margin-top: -113px;
    opacity: 0.4;

}
.arrow-back img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 4px;  
}

.section-crafted{
    height: 258px;
    padding: 10px 70px;
    margin-top: -17px;

}
.section-crafted-heading{
    height: 100px;
}
.handcrafted-text{
    color: rgb(30, 57, 50);
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.1px;
    text-align: start;
}
.section-crafted-images {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.crafted-img-div{
    width: 107px;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crafted-img{
    width: 107px;
    height: 107px;
    border-radius: 70px;
    cursor: pointer;
}
.crafted-img:hover{
    border: 2px solid rgb(16, 146, 111);
    width: 109px;
}
.crafted-img-discription{
    font-size: 14px;
    color: rgb(33, 37, 41);
    font-weight: 700;
}

.section-purchase{
    position: relative;
    height: 234px;
    margin-top: 70PX;
    padding: 50px 49px;
    background-color: rgb(237, 235, 233);
}
.section-purchase-box{
    height: 280px;
}
.section-purchase-box-header{
    display: flex;
    flex-direction: row;
    width: 1320px;
    height: 60px;
    justify-content: start;
    align-items: start;
    margin-top: -44px;
}
.section-purchase-box-header-heading{
    width: 856px;
    height: 26px;
}
.section-purchase-box-view-menu{
    width: 464px;
    height: 26px;
}
.reccomend{
    color: #1e3932;
    font-size: 24px;
    font-weight: 900px;
    margin-top: 21px;
}
.view-menu{
    margin-left: 348px;
    margin-top: 16px;
    color: rgb(0, 117, 74);
    font-size: 12.8px;
    cursor: pointer;
}
.purchase-items{
    display: flex;
    height: 160px;
    margin-top: 18px;
    position: relative;
}
.purchase-items-box{
    width: 1267px;

}
.purchase-card{
    width: 405px;
    height: 160px;
    background-color:white;
    border-radius: 9px;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2);
    cursor: pointer;
}
.purchase-img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.imgdescription{
   display: flex;
   padding: 15px 27px;
   
}
.item-details{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-left: 18px;
}
.veg-img{
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.item-description{
    margin-top:5px;
    color: black;
    font-size: 14px;
    font-weight: 200px;
}
.quantity{
    margin-top: -9px;
    color: rgba(92, 92, 92, 0.75);
    font-size: 9px;
    font-family: Pike_Regular, Helvetica, sans-serif;
}
.price-add{
    display: flex;
    width: 356px;
    height: 32px;
    margin-left: 29px;
    margin-top: -17px;
}
.price{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
}
.add-btn-div{
    margin-left: 220px;
}
.add-btn{
    margin-top: 16px;
    align-items: center;
    background-color: rgb(0, 117, 74);
    color: white;
    font-weight: bold;
    padding: 6px 13px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: rgb(9, 62, 9);
}
.arrow-forward-purchase{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 50%;   
    right: -2px;
    margin-top: 73px;
}
.arrow-forward-purchase img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 4px;
    cursor: pointer;  
}
.arrow-back-purchase{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 50%;  
    left: -23px;
    margin-top: 75px;
    opacity: 0.4;

}
.arrow-back-purchase img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 4px;  
    cursor: pointer;
}
.leaf-img{
    width: 57px;
    height: 57px;
    position: absolute;
    top: 0px;
    right: -1px;
}
.section-coffee{
    height: 496px;
    background-color: rgb(237, 235, 233);
    margin-top: 40px;
    padding-top: 18px;
}
.section-coffee-header{
    display: flex;
    margin: -9px 46px;
    width: 1320px;
    height: 60.79px;
    text-align: start;
}
.header-para{
    flex: 2;
}
.discover-div{
    flex: 1;
}
.para{
    font-size: 24px;
    color: rgb(27, 59, 51);
    font-weight: bold;
}
.discover-div h6{
   font-size: 12.8px;
   color: rgb(0, 117, 74);
   font-weight: bold;
   margin-left: 320px;
   margin-top: 22px;
}
.background-coffee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1267px;
    height: 371px;
    background-image: url(images/ICW_Live_Event_Day5_41f11ca3d2.jpg);
    background-repeat: no-repeat;
    border-radius: 7px;
    margin-left: 60px;
    margin-top: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-left: 32px;
    cursor: pointer;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.5),
    inset 0 10px 100px rgba(34, 34, 34, 0.5);
    transition: box-shadow 0.2s;
}
.background-coffee:hover{
    box-shadow: inset 100px 50px 100px rgba(0, 0, 0, 0.5),
    inset 100px 100px 100px rgba(34, 34, 34, 0.5);
}
.coffee-culture-div{
    margin-left: 5px;
}
.coffee-culture{
    display: inline;
    background-color:rgb(230, 237, 235);
    font-size: 9px;
    color: rgb(0, 153, 102);
    border-radius: 5px;
    padding: 3px 13px;
}
.section-coffee-bottom{
     margin-bottom: 31px; 
}
.section-coffee-bottom-title{
    height: 8px; 
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: rgb(255, 255, 255);
}
.section-coffee-bottom-text{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: start;
    margin-bottom: 57px;
}
.Learn-more-btn{
    width: 200px;
    height: 31.9px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 255, 255) ;
    color: black;  
    border-radius: 16px;
    border: 1px solid black;
}

.footer{
    height: 660px;
    background-color: #0E382c;
    padding-bottom: 32px;
    padding-left: 50px;
    padding-right: 32px;
    padding-top: 128px;
    margin-top: 37px;
}
.footer-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 660px;
    margin-bottom: 106px;
}
.footer-logo,.footer-col{
    width: 219.99px;
    height: 525.41px;
}
.footer-list{
    list-style-type: none;
    margin-left: -40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
     line-height: 25px;
    font-weight: lighter;
}
.footer-list li{
    margin-top: 25px;
    cursor: pointer;
}
.footer-list li:hover{
    color: lightgray;
}
.footer-social-media{
    width: 152.99px;
    height: 525.41px;
}
.footer-social-media img{
    cursor: pointer;
}
.footer-header{
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.download-section{
    width:263.005px;
    height: 525.41px;
    text-align: right;  
}
hr{
    margin-top: -192px;
}
.legal-list div a{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
}
.legal-list div{
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 17px;
}
.legal-list div:last-child{
    border: none;
}

.legal-list{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    flex: 1;
}
.footer-legal-list{
    display: flex;
}
.copy-right p{
    color: rgb(187, 187, 187);
    font-size: 9.6px;
    cursor: pointer;
    transition: color 0.8s;
}
.copy-right p:hover{
 color: #77817e;
}